# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store



# IntelliJ IDEA
.idea
*.iml

# ML Jobs
jobs/sentiment-analysis/venv
jobs/sentiment-analysis/__pycache__
jobs/sentiment-analysis/sentiment_analysis.egg-info
jobs/sentiment-analysis/tests/__pycache__
jobs/sentiment-analysis/utils/__pycache__
jobs/sentiment-analysis/dbms/__pycache__
#Visual Studio Code
.vscode

#Visual Studio Code
.vscode

